.imgdiscount{
    width: 300px;
    height: 400px;
    border: 10px;
    /* background-color: blueviolet; */
}

.mainc{
    display: flex;
    margin-left: 200px;
}

.headers{
    margin-left: 200px
}

.kid{
    width: 50%;
    height: 50%;
    margin-left: 75px;
    margin-top: 15px;    
}

.but {
    background-color: #512737; /* Green */
    border: none;
    color: #E49459;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}