.sidenav {
    height: 409px;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #512737;
    overflow-x: hidden;
    padding-top: 80px;  
      
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #E49459;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.footer {
    height: 50px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color:#D86051;
    background-color: #d7bfc8;
}

.welcome{
    padding-left: 600px;
}

/* .phone1{
    padding-top: 400px;
} */

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}